#btnRed, #btnOrange, #btnYellow, #btnGreen, #btnBlue, #btnIndigo, #btnViolet{
    height: 100px;
    width: 10%;
    position: relative;
    margin-top: 10%;
    left: 10%;
    font-size: 25px;
    background-color: lightgrey;
}

#gameStart {
    position: absolute;
    top: 35%;
    left: 21%;
    width: 50%;
    height: 100px;
    font-size: 50px;
    background-color: lightgrey;
}

#secDiv{
    position: absolute;
    top: 60%;
    left: 10%;
}